@import '../components.styles.scss';

@mixin mainFlexItem {
    min-width: 47.5%;
    min-height: 90%;
    @media only screen and ( max-width: $tab){
        min-width:100%;
        &:nth-child(1){
            min-height:80%;
        }
        &:nth-child(2){
            min-height:20%;
        }
    }
}

.appMain {
    height: 90%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    .mainFlexItem {
        @include mainFlexItem()
    }
}

@media only screen and ( max-width : $phone ) {
    .appMain {
        max-height: 84%;
    }
}

@media only screen and ( max-width : $tab ) {
    .appMain {
        height: 92%;
    }
}